.text{
    -fx-fill: #000000;
    -fx-font-size: 20;
    -fx-border-color: #000000;
}

.brukernavn{
    -fx-font-size: 20;
}

.borderpane{
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.root{
    -fx-background: rgb(255, 255, 255);
    -fx-background-color: linear-gradient(from 25px 25px to 500px 500px, rgba(66, 127, 88, 0.4), rgba(66, 127, 88, 0.2));
}

.barchart{
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #000000;
}

.barchart .chart-plot-background{
    -fx-background-color: transparent;
}

.barchart .chart-vertical-grid-lines{
    -fx-fill: #0b0b0b;
    -fx-font-size: 20;
}


.button{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-fill: #000000;
    -fx-text-fill: #000000;
    -fx-background-radius: 100;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-border-width: 0.5;
    -fx-border-radius: 20;
    -fx-alignment: center;
    -fx-background-radius: 20;
}


.button:hover{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: #282828;
}

.button:pressed{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: #282828;
}

.graphsbox{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}
.chart{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

HBox {
    -fx-text-fill: #000000;
    -fx-fill-width: true;
}

VBox {
    -fx-fill-width: true;
    -fx-alignment: top-center;
}

.loginPageBox{
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.table-view{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #000000;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header{
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-text-fill: #000000;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: rgba(0, 183, 69, 0.07);
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.overviewtableviewbox{
    -fx-text-fill: #000000;
    -fx-spacing: 50px;
    -fx-alignment: center;
}

.tick-label{
    -fx-text-fill: #000000;
}

.piechart{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.piechart .text {
    -fx-fill: #000000;
    -fx-font-size: 20;
}
.vanliginformasjonstekst{
    -fx-text-fill: #000000;
    -fx-font-size: 20;
}